/*welche Farben gibt es? webseite developer.mozilla.org*/

body {
    color:black;
    font-size:20px;
}

/*Zwei Selektoren immer untereinander schreiben, ist ordentlicher*/
h2,
h3 {
    color:chocolate;
    background:black;
}

/*Prozent ist eine relative Größenangabe, bezieht sich auf das Elternelement; em 1,5 kleiner als das übergordnete*/
p {
    width:50%;
}

/*ganze Klassen stylen; im html mit class markieren*/
.wichtig {
    color:red;
}

/*mit id in html kennzeichnen*/
#ueberschrift {
    color:cornflowerblue;
}

/*Kombi*/
em.wichtig{
    color:chartreuse;
}

/*hierarchieselektor, nur strong in einem paragraph wird grün*/
p strong {
    color:yellow;
}

/*pseudo, wenn die maus über den link geht*/
a:hover{
    color:black;
}

/*eigene Farbe erstellen durch rot, grün, blau anteile, bsp. telekom magenta*/
h4 {
    color: rgb(226,0,116)
}

/*Transparenz*/
h5 {
    color: rgba(226,0,116,10)
}